---
layout: page
title: Resume
permalink: /
weight: 1
---

<div class="row" style="padding-top: 2em">
    
    <div class="col-md-8">
    <div class="lead" style="padding-bottom: 1em">Hey! I'm Cristian</div>

    🎯 I'm a Machine Learning Engineer with a practical mindset and a passion for the field.</br></br>

    🤖 I am making neural search open source and universal, at <a href="https://jina.ai/">Jina AI</a>, in Berlin.</br></br>

    💪 I have five years of professional experience across the stack (Machine Learning, Backend, DevOps, Frontend).</br></br>
    
    💼 Check out my <a href="/resume/projects">my portfolio</a> for diverse projects across Machine Learning and Deep Learning (sentiment analysis, topic classification, computer vision, music generation). </br></br>
    
    🎵 My master thesis project was about <a href="https://en.wikipedia.org/wiki/MIDI">symbolic music</a> generation using <a href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/">LSTM networks</a>, with <a href="https://arxiv.org/pdf/1708.00524.pdf">self-attention</a>. You can read more <a href='/resume/projects/0thesis'>here</a>.<br>

    </div>

    <div class="col-md-4">

        <img src="assets/face.jpg" alt="Cristian Mitroi's resume" class="circle-image wow  zoomIn animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn; max-width: 15em; display: block; margin-left: auto; margin-right: auto;">
    
        </div>
</div>


<div class="row" style="padding-top: 2em">
{% include skills.html title="Languages & Tools" source=site.data.languages %}
{% include skills.html title="Development Areas" source=site.data.fields %}
</div>

<div class="row">
    <div class="col-md-8">

        <h2 class="mb-3">
            Professional Experience:
        </h2>
    </div>
</div>

<div class="row">
{% include work.html %}
</div>

<div class="row">
    <div class="col-md-8">

        <h2 class="mb-3">
            Education:
        </h2>
    </div>
</div>

<div class="row">
{% include school.html %}
</div>
