---
layout: page
title: Resume
permalink: /
weight: 1
---

<div class="row" style="padding-top: 2em">

    <div class="col-md-8">
    <div class="lead" style="padding-bottom: 1em">Hey! I'm Dajana</div>

    🎯 I'm a happyyyyy.</br></br>


    </div>

    <div class="col-md-4">

        <img src="assets/profilna.png" alt="Dajana Ivkic's resume" class="circle-image wow  zoomIn animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn; max-width: 15em; display: block; margin-left: auto; margin-right: auto;">

        </div>
</div>


<div class="row" style="padding-top: 2em">
{% include skills.html title="Languages & Tools" source=site.data.languages %}
{% include skills.html title="Development Areas" source=site.data.fields %}
</div>

<div class="row">
    <div class="col-md-8">

        <h2 class="mb-3">
            Professional Experience:
        </h2>
    </div>
</div>

<div class="row">
{% include work.html %}
</div>

<div class="row">
    <div class="col-md-8">

        <h2 class="mb-3">
            Education:
        </h2>
    </div>
</div>

<div class="row">
{% include school.html %}
</div>